html,
body {
  height: 100%;
  overflow: scroll;
  transition: 0.4s;
}

body::-webkit-scrollbar {
  display: none;
}

.Loop {
  position: relative;
  height: 100%;
  overflow: hidden;
  scrollbar-width: none;
  z-index: 2;
  
}

.item{
font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  text-align: center;
  min-height: 200px;
  max-height: 700px;
  margin: 0;
  top: 50%;
  width: 100%;
  font-size: 170px;
  letter-spacing: 5px;
  text-transform: uppercase;
  -webkit-text-stroke: 2px black;
  color: transparent;
  transition: 0.01s;
  display: inline-block;
}

.item:hover{
  color: black;
  -webkit-text-stroke: 0px;
}

.entry-container{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: justify;
  z-index: -1;
  font-size: 50px;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  padding-left: 70px;
  padding-right: 70px;
}